 @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;500;900&display=swap');

html{
    scroll-behavior: smooth;
}
:root{
    --tittle-letter:#FFFFFF;
    --hospital-green:#ACD9B2;
    --hover:#185ADB;
    --border:#C7C7C7;
    --sm:14px;
    --md:16px;
    --lg:18px;
}
body{
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
}
.logo{
    width: 74px;
}
/*Styles from the navbar*/
nav{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: none;
    width: 100%;
    height: 83px;
    position: fixed;
    z-index: 5;
    transition: all 0.5s;
}
.nav-scrolled{
    background-color: #24252a;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}
nav .logo img{
    margin: 0 100px;
    width: 50px;
    height: 50px;
}
nav ul{
    padding: 0;
    list-style: none;
    float: right;
    margin: 0 20px 0 0;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a{
    text-decoration: none;
    color: var(--tittle-letter);
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color:white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.checkbtn img{
    width: 30px;
    height: 30px;
}
#check{
    display: none;
}
/*Styles from the hero*/
.hero{
    position: relative;
}
.hero .image-mobile{
    display: none;
}
.hero .info-container{
    position: absolute;
    top: 60%;
    transform: translateY(-100%);
    left: 15%;
    display: flex;
    color: rgb(255,255,255);
    padding: 0 50px;
    flex-direction: column;
}
.hero .info-container .info{
    justify-content: center;
}
.hero .info-container .info h1:nth-child(1){
    font-weight:normal ;
    font-size: 80px;
    margin:0;
}
.hero .info-container .info h1:nth-child(2){
    font-weight: bold;
    font-size: 90px;
    margin:0;
}
.hero .info-container .info span{
    font-weight: lighter;
    font-size: 40px;
    margin:0;
}
.hero .info-container ul{
    display: flex;
}

.hero .image-container{
    display: flex;
}
.image-container img{
    width: 100%;
    height: 100vh;
}
/*Styles from about*/
.about{
    background-color: #0e0f13;
    width: 100%;
    height: 100vh;
    color: var(--tittle-letter);
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
            "image about1"
            "image about2";
    justify-items: center;
    text-align: justify;
}
.about .about-image{
    display: grid;
    grid-area: image;
    justify-content: center;
    align-content: space-between;
}
.about .about-image img{
    margin-top: 164px;
    width: 600px;
    height: 600px;
    border-radius: 10px;
}
.about .info-container{
    grid-area: about1;
    width: 522px;
    color: var(--tittle-letter);
    padding: 132px 0 0 42px;
}
.about .about-grid{
    grid-area: about2;
    width: 542px;
    height: 107px;
    padding: 10px 10px 10px 18px;
    border: 2px solid #185ADB;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto;
    color: var(--tittle-letter);
}
.about .about-grid span{
    margin-bottom: 16px;
}
.about-grid .about1{
    display: flex;
    flex-direction: column;
}
.about-grid .about2{
    display: flex;
    flex-direction: column;
}
/*Style from Resume*/
.resume{
    padding-top: 8vh;
    position: relative;
    border-top:1px solid var(--border) ;
    background-color: #222831;
    width: 100%;
    height: 100%;
    color: var(--tittle-letter);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 230px auto;
    grid-template-areas:
            "title title"
            "education skills";
    place-content: center;
}
.resume .resume-title{
    grid-area: title;
    display: inline-block;
    width: fit-content;
    font-size: 80px;
    justify-self: center;
}
.resume-title h1{
    margin: 0;
    border-bottom: 1px solid var(--hover);
}
.resume .skills{
    display: flex;
    grid-area: skills;
    flex-direction: column;
    align-items: center;
}
.resume .skills h1{
    display: inline-block;
    font-weight: bold;
    border-bottom: 1px solid var(--hover);
    margin-left: 36px;
}
.resume .skills .skill-software ul li{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 8px;
}
.resume .skills .skill-software ul li img{
    height: 100px;
    width: 100px;
}
.resume .skills .hobbies{
    display: grid;
    grid-template-columns: repeat(2, 156px);
    grid-template-rows: repeat(2, 152px);
    grid-template-areas:
            "gaming learn"
            "music programming";
    place-content: start;
}
.resume .skills .gaming{
    display: flex;
    flex-direction: column;
    grid-area: gaming;
    align-items: center;
}
.resume .skills .learn{
    display: flex;
    flex-direction: column;
    grid-area: learn;
    align-items: center;
}
.resume .skills .music{
    display: flex;
    flex-direction: column;
    grid-area: music;
    align-items: center;
}
.resume .skills .programming{
    display: flex;
    flex-direction: column;
    grid-area: programming;
    align-items: center;
}
.resume .skills .gif{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top:10%;
}
.resume .skills .hobbies img{
    width: 100px;
    height: 100px;
}
.resume .education{
    grid-area: education;
}
.resume .education h1{
    display: inline-block;
    font-weight: bold;
    border-bottom: 1px solid var(--hover);
}
.education img{
    height: 350px;
    width: 500px;
}
.education .diplomas-certificates{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.education .diplomas-certificates .horizontal img{
    height: 500px;
    width: 350px;
}
.education .diplomas-certificates ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.education .schools{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.education .schools img{
    height: auto;
    width: 250px;
}
.education .schools ul li{
    width: 496px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Styles from the portfolio*/
.portfolio{
    padding-top: 8vh;
    background-color: #393E46;
    width: 100%;
    height: 100%;
    color: var(--tittle-letter);
    display: grid;
    border-top: 1px solid var(--border);
    font-size: 18px;
}
.portfolio h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.portfolio .portfolio-title{
    display: inline-block;
    width: fit-content;
    font-size: 80px;
    border-bottom: 1px solid var(--hover);
    justify-self: center;
}
.portfolio .works{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
            "work1 work2";
    justify-items: center;
}
#show-work{
    display: none;
}
#show-work:checked ~ .work1-info{
    display: block;
}
.portfolio .work1{
    grid-area: work1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio .work1 img{
    width: 650px;
    height: 350px;
}
.portfolio .software-list{
    display: flex;
}
.portfolio .software-list li{
    list-style: none;
    margin: 0 32px;
}
.portfolio .software-list li img{
    width: 50px;
    height: 50px;
}
.portfolio .work1 label p{
    background-color: #2666CF;
    border-radius: 8px;
    padding: 12px 16px;
    cursor: pointer;
    transition: all 0.5s;
}
.portfolio .work1 label p:hover{
    padding-right: 20px;
}
.portfolio .work1 label p:hover:after {
    content:" \00bb";
}
.portfolio .work1 .work1-info{
    display: none;
}
.portfolio .work1 .work1-info ul li{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.portfolio .work1 .work1-info ul li img{
    width: 650px;
    height: 350px;
}
.portfolio .work2{
    grid-area: work2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
.portfolio .work2 .work2-info{
    position: sticky;
    top:10%;

}
.portfolio .work2-info p{
    display: flex;
    justify-content: center;
}
.portfolio .work2 .work2-info ul{
    list-style: none;
}
.portfolio .work2 .work2-info .features li {
    list-style: inside;
}
.portfolio .work2 .work2-info  ul li .software-list{
    display: flex;
    justify-content: center;
}
.portfolio .work2 .work2-info  ul li .software-list li{
    width: fit-content;
}
.portfolio .work2 .work2-info  ul li .software-list img{
    width: 50px;
    height: 50px;
}
.portfolio .work2 .work2-info ul li img{
    width: 650px;
    height: 350px;
}
.portfolio .work2 .work2-info .link{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.portfolio .work2 .work2-info .link .link-work2:hover{
    border-bottom: 1px solid var(--hover);
}
.portfolio .work2 .work2-info .link .github-link-work2:hover{
    border-bottom: 1px solid var(--hover);
}
.portfolio .work2 .work2-info .link .github-link-work2 img{
    width: 25px;
    height: 25px;
    margin: 0 50px;
    border-radius: 5px;
    padding: 8px;
    background: rgb(67, 64, 64);
}
.portfolio .work2 .work2-info .link .link-work2 img{
    width: 25px;
    height: 25px;
    margin: 0 50px;
    border-radius: 5px;
    padding: 8px;
    background: rgba(128,224,220,255);
}
.portfolio .more{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio .more img{
    width: 300px;
    height: 300px;
}
/*Styles from the contact*/
.contact{
    padding-top: 8vh;
    background-color: #0e0f13;
    width: 100%;
    height: 92vh;
    color: var(--tittle-letter);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
            "map contact";
    justify-items: center;
    border-top: 1px solid var(--border);
}
.contact .map{
    grid-area: map;
    display: flex;
    flex-direction: column;
}
.contact .map h1{
    font-weight:normal ;
    font-size: 80px;
    margin: 0;
}
.contact .map span{
    font-size: 20px;
    margin: 16px 0;
}
.contact .form-contact {
    margin-top:34px;
    grid-area: contact;
}
.contact .form-contact form{
    display: flex;
    flex-direction: column;
}
.contact .form-contact input{
    background-color: gainsboro;
    border: none;
    border-radius: 8px;
    height: 32px;
    font-size: var(--md);
    padding: 6px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.contact .form-contact textarea{
    background-color: gainsboro;
    border: none;
    border-radius: 8px;
    font-size: var(--md);
    padding: 6px;
    height: 252px;
    width: 556px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.contact .form-contact .submit-button{
    background-color: #4CAF50;
    border-radius: 8px;
    border: none;
    color: white;
    width: 100%;
    height: 50px;
    cursor:pointer;
    font-size: var(--md);
    font-weight: bold;
}
/*Styles from footer*/
footer{
    border-top: 1px solid var(--border);
    background-color: #222831;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .logo{
    margin: 24px 0;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    display: flex;
}
footer ul{
    list-style: none;
    display: flex;
}
footer ul li{
    margin-right: 16px;
}
footer ul li .github img{
    border-radius: 5px;
    padding: 8px;
    background: rgb(67, 64, 64);
}
footer ul li .linkedin img{
    border-radius: 5px;
    padding: 8px;
    background: rgba(10,102,194,255);
}
footer ul li .platzi img{
    border-radius: 5px;
    padding: 8px;
    background: rgb(138,185,67,255);
}

/*Responsive*/
@media (max-width: 1510px){
    /*Responsive about*/
    .about .about-image {
        display: grid;
        grid-area: image;
        justify-content: center;
        align-content: space-between;
    }
    .about .about-image img{
        margin-top: 164px;
        width: 450px;
        height: 450px;
    }
    /*Responsive portfolio*/
    .portfolio .work1 .work1-info ul li {
        text-align: justify;
        width: 536px;
    }
    .portfolio .work2 .work2-info ul li {
        text-align: justify;
        width: 536px;
    }
    .portfolio .work1 img{
        width: 470px;
        height: 235px;
    }
    .portfolio .works .work1-info ul li img {
        width: 470px;
        height: 235px;
    }
    .portfolio .works .work2-info ul li img {
        width: 470px;
        height: 235px;
    }
}
@media (max-width: 1320px){
    /*Responsive contact*/
    .contact .map span{
        width: 450px;
    }
    .contact .map iframe{
        width: 450px;
        height: 450px;
    }
    .contact .form-contact form {
        width: 412px;
    }
    .contact .form-contact textarea {
        height: 224px;
        width: 400px;
    }
}
@media (max-width: 1234px){
    /*Responsive about*/
    .about .about-image img{
        width: 350px;
        height: 350px;
    }
    .about .info-container {
        margin-right: -1px;
    }
    .about .about-grid{
        width: 553px;
        height: 100px;
        padding: 15px;
        margin-left: 36px;
    }
    /*Responsive portfolio*/
    .portfolio .works {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "work1" " work2";
        justify-items: center;
    }
    .portfolio ul{
        padding: 0;
    }
}
@media (max-width: 1180px){
    /*Responsive resume*/
    .skills .gif img{
        width: 254px;
    }
}
@media (max-width: 1050px){
    /*Responsive resume*/
    .resume {
        grid-template-columns: 1fr;
        grid-template-rows:1fr;
        grid-template-areas:
        "title"
        "education"
        "skills";
    }
    .resume .skills h1 {
        margin-left: 0;
    }
    .resume .skills .skill-software h1{
        margin-left: 0;
    }
    .resume .skills .skill-software ul{
        padding: 0;
    }
    .resume .education ul{
        padding: 0;
    }

    /*Responsive portfolio*/


}
@media (max-width: 1066px){
    /*Responsive about*/
    .about{
        grid-template-columns: auto;
        grid-template-rows: repeat(3,1fr);
        grid-template-areas:
        "image"
        "about1"
        "about2";
    }
    .about .about-image img {
        margin-top: 100px;
        width: 300px;
        height: 300px;
    }
    .about .info-container {
        grid-area: about1;
        color: var(--tittle-letter);
        padding: 0;
    }
    .about .about-grid {
        width: 553px;
        height: 100px;
        padding: 15px;
        margin: 20px 0 0 0;
    }
}
@media (max-width: 952px){
    /*Responsive navbar*/
    nav ul li a{
        font-size: 16px;
    }
    /*Responsive hero*/
    .hero .info-container{
        top: 60%;
        left: 10%;
    }
    /*Responsive contact*/
    .contact{
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "map"
        "contact";
        padding-bottom: 44px;
    }
    .contact .map {
        align-items: center;
    }

}
@media (max-width: 768px){
    /*Responsive navbar*/
    .checkbtn{
        display: block;
    }
    .logo {
        width: 66px;
    }
   nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top:11%;
        left: -200%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
    }
    a:hover,a.active{
        background: none;
        color:#0082e6;
    }
    #check:checked ~ ul{
        left:0;
    }
    /*Responsive hero*/
    .hero .image-desktop{
        display: none;
    }
    .hero .image-mobile{
        display: block;
    }
    /*Responsive resume*/
    .education img{
        height: 175px;
        width: 250px;
    }
    .education .diplomas-certificates .horizontal img{
        height: 250px;
        width: 175px;
    }
    .education .diplomas-certificates ul li {
        text-align: justify;
        width: 264px;
    }
    .education .schools ul li {
        width: 300px;
        text-align: justify;
    }
}
@media (max-width: 680px){
    /*Responsive navbar*/
    nav{
        height: 10vh;
    }
    nav ul{
        top: 10%;
    }
    .logo{
        height: 10vh;
    }
    /*Responsive hero*/
    .hero .info-container{
        top: 50%;
        left: 5%;
    }
    .hero .info-container .info h1:nth-child(1){
        font-weight:normal ;
        font-size: 60px;
        margin:0;
    }
    .hero .info-container .info h1:nth-child(2){
        font-weight: bold;
        font-size: 70px;
        margin:0;
    }
    .hero .info-container .info span{
        font-weight: lighter;
        font-size: 20px;
        margin:0;
    }
    /*Responsive about*/
    .about{
        height: 100%;
    }
    .about .about-image img{
        margin-top: 180px;
    }
    .about .info-container{
        width: fit-content;
    }
    .about .info-container .info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about .info-container .info span{
        width: 350px;
        display: inline-block;
    }
    .about .about-grid {
        grid-template-columns:auto;
        width: 264px;
        height: 212px;
        margin-left: 0px;
    }
    /*Responsive resume*/
    .resume-title h1 {
        font-size: 60px;
    }
    /*Responsive portfolio*/
    .portfolio .portfolio-title{
        font-size: 60px;
    }
    .portfolio h1 {
        text-align: center;
        font-size: 30px;
    }
    .portfolio .more img {
        width: 200px;
        height: 200px;
    }
    .portfolio .work1 .description{
        width: 268px;
    }
    .portfolio .work1 .work1-info ul li {
        width: 268px;
    }
    .portfolio .work2 .work2-info ul li {
        width: 268px;
    }
    .portfolio .work1 img{
        width: 235px;
        height: 118px;
    }
    .portfolio .works .work1-info ul li img {
        width: 235px;
        height: 118px;
    }
    .portfolio .work1 ul:nth-child(2n){
        padding-left: 64px;
    }
    .portfolio .works .work2-info ul li img {
        width: 235px;
        height: 118px;
    }
    /*Responsive contact*/
    .contact .map span{
        width: 300px;
    }
    .contact .map h1{
        font-size: 60px;
    }
    .contact .map iframe{
        width: 330px;
        height: 300px;
    }
    .contact .form-contact form {
        width: 300px;
    }
    .contact .form-contact textarea {
        height: 224px;
        width: 300px;
    }
    /*Responsive footer*/
    footer .logo {
        width: 100px;
        height: 100px;
    }
    footer span{
        font-size: 15px;
        margin-bottom: 28px;
    }
}