@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;500;900&display=swap');

html{
    scroll-behavior: smooth;
}
:root{
    --tittle-letter:#FFFFFF;
    --hospital-green:#ACD9B2;
    --hover:#185ADB;
    --border:#C7C7C7;
    --sm:14px;
    --md:16px;
    --lg:18px;
}
body{
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
}
.logo{
    width: 75px;
    height: 8vh;
}
/*Styles from the navbar*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:1px solid rgb(10, 25, 49);
    align-content: center;
    background:none;
    width: 100%;
    height: 8vh;
    position: fixed;
    z-index: 5;
}
nav .navbar-left{
    display: flex;
}
nav .navbar-right{
    display: flex;
}
.navbar-left ul, .navbar-right ul {
    list-style: none;
    padding: 0;
    margin:0;
    display: flex;
    align-items: center;
    height: 60px;
}
.navbar-left ul li{
    margin:0 20px 0 20px;
}
.navbar-right ul li{
    margin-right: 20px;
}

nav .navbar-left ul li a,nav .navbar-right ul li a{
    text-decoration: none;
    color:var(--tittle-letter);
    padding: 8px;
    border-radius: 8px;
}
nav .navbar-left ul li a:hover,nav .navbar-right ul li a:hover{
    text-decoration: none;
    color:var(--tittle-letter);
    border-bottom: 1px solid var(--hover);
    padding: 8px;
    border-radius: 8px;
}
nav .navbar-right img{
    margin: 8px 0 0 0;
    width: 50px;
    height: 50px;
}
/*Styles from the hero*/
.hero{
    position: relative;
}
.hero .info-container{
    position: absolute;
    top: 60%;
    transform: translateY(-100%);
    left: 15%;
    width: 100vh;
    display: flex;
    color: rgb(255,255,255);
    padding: 0 50px;
    flex-direction: column;
}
.hero .info-container .info{
    justify-content: center;
}
.hero .info-container .info h1:nth-child(1){
    font-weight:normal ;
    font-size: 80px;
    margin:0;
}
.hero .info-container .info h1:nth-child(2){
    font-weight: bold;
    font-size: 90px;
    margin:0;
}
.hero .info-container .info span{
    font-weight: lighter;
    font-size: 40px;
    margin:0;
}
.hero .info-container button{
    margin-top: 16px;
    margin-right: 16px;
    background:none;
    border-radius: 15px;
    border: 1px solid white;
    color: var(--tittle-letter);
    width: 150px;
    height: 40px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
}
.hero .image-container{
    display: flex;
}
.image-container img{
    width: 100%;
    height: 100vh;
}
/*Styles from about*/
.about{
    background-color: #0e0f13;
    width: 100%;
    height: 100vh;
    color: var(--tittle-letter);
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
            "image about1"
            "image about2";
    place-content: center;
}
.about .about-image{
    display: grid;
    grid-area: image;
    place-content: center;
}
.about .about-image img{
    width: 600px;
    height: 600px;
    border-radius: 10px;
}
.about .info-container{
    grid-area: about1;
    width: 634px;
    color: var(--tittle-letter);
    padding: 132px 0 0px 42px;
}
.about .about-grid{
    grid-area: about2;
    width: 640px;
    height: 115px;
    padding: 16px;
    border: 2px solid #185ADB;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto;
    color: var(--tittle-letter);
}
.about .about-grid span{
    margin-bottom: 16px;
}
.about-grid .about1{
    display: flex;
    flex-direction: column;
}
.about-grid .about2{
    display: flex;
    flex-direction: column;
}
/*Style from Resume*/
.resume{
    padding-top: 8vh;
    position: relative;
    border-top:1px solid var(--border) ;
    background-color: #0e0f13;
    width: 100%;
    height: 100%;
    color: var(--tittle-letter);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "skills education";
    place-content: center;
}
.resume .skills{
    grid-area: skills;
    margin-left: 44px;
}
.resume .skills h1{
    display: inline-block;
    font-weight: bold;
    border-bottom: 1px solid var(--hover);
    margin-left: 36px;
}
.resume .skills .skill-software ul li{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 8px;
}
.resume .skills .skill-software ul li img{
    height: 100px;
    width: 100px;
}
.resume .skills .hobbies{
    display: grid;
    grid-template-columns: repeat(2, 156px);
    grid-template-rows: repeat(2, 152px);
    grid-template-areas:
            "gaming learn"
            "music programming";
    place-content: start;
}
.resume .skills .gaming{
    display: flex;
    flex-direction: column;
    grid-area: gaming;
    align-items: center;
}
.resume .skills .learn{
    display: flex;
    flex-direction: column;
    grid-area: learn;
    align-items: center;
}
.resume .skills .music{
    display: flex;
    flex-direction: column;
    grid-area: music;
    align-items: center;
}
.resume .skills .programming{
    display: flex;
    flex-direction: column;
    grid-area: programming;
    align-items: center;
}
.resume .skills .hobbies img{
    width: 100px;
    height: 100px;
}
.resume .skills .gif{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    position: sticky;
    top:10%;
}
.resume .education{
    grid-area: education;
}
.resume .education h1{
    display: inline-block;
    font-weight: bold;
    border-bottom: 1px solid var(--hover);
}
.education img{
    height: 350px;
    width: 500px;
}
.education .diplomas-certificates{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.education .diplomas-certificates .horizontal img{
    height: 500px;
    width: 350px;
}
.education .diplomas-certificates ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.education .schools{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.education .schools img{
    height: 250px;
    width: 250px;
}
.education .schools ul li{
    width: 496px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Styles from the portfolio*/
.portfolio{
    padding-top: 8vh;
    background-color: #0e0f13;
    width: 100%;
    height: 100%;
    color: var(--tittle-letter);
    display: grid;
}
.portfolio h1{
    display: flex;
    justify-content: center;
}
.portfolio .works{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
            "work1 work2";
    justify-items: center;
}
.portfolio .work1{
    grid-area: work1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio .work1 .work1-info ul li{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.portfolio .work1 .work1-info ul li img{
    width: 650px;
    height: 350px;
}
.portfolio .work2{
    grid-area: work2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
.portfolio .work2 .work2-info{
    position: sticky;
    top:10%;
}
.portfolio .work2 .work2-info ul li{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.portfolio .work2 .work2-info ul li img{
    width: 650px;
    height: 350px;
}
.portfolio .work2 .work2-info .link{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.portfolio .work2 .work2-info .link .link-work2:hover{
    border-bottom: 1px solid var(--hover);
}
.portfolio .work2 .work2-info .link .github-link-work2:hover{
    border-bottom: 1px solid var(--hover);
}
.portfolio .work2 .work2-info .link img{
    width: 50px;
    height: 50px;
    margin: 0 50px;
}
.portfolio .more{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio .more img{
    width: 300px;
    height: 300px;
}
/*Styles from the contact*/
.contact{
    padding-top: 8vh;
    background-color: #0e0f13;
    width: 100%;
    height: 92vh;
    color: var(--tittle-letter);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
            "map contact";
    justify-items: center;
    border-top: 1px solid var(--border);
}
.contact .map{
    grid-area: map;
    display: flex;
    flex-direction: column;
}
.contact .map h1{
    font-weight:normal ;
    font-size: 80px;
    margin: 0;
}
.contact .map span{
    margin: 16px 0;
}
.contact .form-contact {
    grid-area: contact;
}
.contact .form-contact form{
    display: flex;
    flex-direction: column;
}
.contact .form-contact input{
    background-color: gainsboro;
    border: none;
    border-radius: 8px;
    height: 32px;
    font-size: var(--md);
    padding: 6px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.contact .form-contact textarea{
    background-color: gainsboro;
    border: none;
    border-radius: 8px;
    font-size: var(--md);
    padding: 6px;
    height: 252px;
    width: 556px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.contact .form-contact .submit-button{
    background-color: #4CAF50;;
    border-radius: 8px;
    border: none;
    color: white;
    width: 100%;
    height: 50px;
    cursor:pointer;
    font-size: var(--md);
    font-weight: bold;
}
/*Styles from footer*/
footer{
    border-top: 1px solid var(--border);
    background-color: #222831;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .logo{
    margin: 24px 0;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    display: flex;
}
footer ul{
    list-style: none;
    display: flex;
}
footer ul li{
    margin-right: 16px;
}
footer ul li .github img{
    padding: 8px;
    background: rgb(67, 64, 64);
}
footer ul li .linkedin img{
    padding: 8px;
    background: rgba(10,102,194,255);
}
footer ul li .platzi img{
    padding: 8px;
    background: rgb(138,185,67,255);
}